
<div class="container">
    <h1>About Page</h1>
    <p>Something about the about page.</p>
    {{panel.posts}}
    <div ng-repeat="post in posts">
        <p>uID: {{post.userId}}</p>
        <p>ID: {{post.id}}</p>
        <p>title: {{post.title}}</p>
        <p>body: {{post.body}}</p>
    </div>
</div>
