//import mixins
@import 'mixins/_mixins.scss';

//fonts
@include font-face(Roboto,      fonts/Roboto/Roboto-Regular          , null, null, ttf);

/* Default Values */
$font-primary : 'Roboto', "Helvetica Neue", Helvetica, serif;

/* Overrides */

html, body, ul, ol {
    margin: 0;
    padding: 0;
}

body * {
    border-radius: 0 !important;
}

body {
    font-family: $font-primary;
    color: black;
}

