<div class="container">
    <h1>Angular Website Template</h1>

    <h2>Unordered list</h2>
    <ul>
        <li>
            <span>List item 1</span>
            <p>
                Paragraph contained within list item 1.
            </p>
        </li>
        <li>
            <span>List item 2</span>
            <p>
                Paragraph again, but this time contained within item 2.
            </p>
        </li>
    </ul>
    <p>A paragraph after the unordered list.</p>
</div>
