@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Regular.ttf") format("truetype"); }

/* Default Values */
/* Overrides */
html, body, ul, ol {
  margin: 0;
  padding: 0; }

body * {
  border-radius: 0 !important; }

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, serif;
  color: black; }
